{
  "R": {
    "installed": true,
    "path": "[R_INSTALL_PATH]/bin/Rscript.exe",
    "version": "[R_VERSION]",
    "install_path": "[R_INSTALL_PATH]/",
    "mode": "simple"
  },
  "SPSS": {
    "installed": true,
    "version": "[SPSS_VERSION]",
    "path": "[SPSS_INSTALL_DIR]/stats.exe",
    "python_plugin": true,
    "mode": "simple"
  },
  "Stata": {
    "installed": true,
    "path": "[STATA_INSTALL_PATH]",
    "edition": "[MP|SE|BE]",
    "version": "[STATA_VERSION]",
    "mode": "simple"
  }
}
